@import "_app";
@import "_button";
@import "_container";
@import "_header";
@import "_forms";
@import "_timer";
@import "_error";
@import "_home-page";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
